@font-face {
  font-family: "Fanwood";
  font-weight: 400;
  font-style: normal;
  src: local("Fanwood"), url("../fonts/fanwood.woff") format("woff");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 300;
  font-style: normal;
  src: local("League Spartan"),
    url("../fonts/leaguespartan-light.woff2") format("woff2");
}

@font-face {
  font-family: "League Spartan";
  font-weight: 400;
  font-style: normal;
  src: local("League Spartan"),
    url("../fonts/leaguespartan-regular.woff2") format("woff2");
}

/* from http://bettermotherfuckingwebsite.com/ */

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Fanwood", serif;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

code {
  font-weight: bold;
  color: #837c8c;
  font-size: 1.1em;
}

pre {
  padding-left: 2em;
}

pre code {
  font-weight: 400;
}

ul {
  list-style-type: square;
}

li p {
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#page-wrapper {
  margin: 40px auto;
  max-width: 85%;
  position: relative;
}

.table-of-contents {
  font-size: 12px;
  line-height: 1.1;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  list-style-type: none;
  position: fixed;
  top: 80px;
  max-width: 15vw;
  max-height: 70vh;
  overflow: auto;
  margin: 20px 0;
  padding: 0 10px;
}

.table-of-contents ul {
  list-style-type: none;
  padding-left: 1em;
}

.table-of-contents a {
  text-decoration: none;
  display: block;
  padding: 0.15em 0 0.15em 1em;
}

.main-title,
.content > *:not(.table-of-contents) {
  margin-left: 16vw;
  max-width: 740px;
}

@media only screen and (max-width: 768px) {
  .table-of-contents {
    position: relative;
    max-width: 100%;
    top: 0;
    max-height: auto;
  }

  .main-title,
  .content > *:not(.table-of-contents) {
    margin-left: 0;
    max-width: 100%;
  }
}
